@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .icons {
    background: linear-gradient(to right, #148ecd, #031289);
    height: 2.2rem;
    text-align: right;
}

header .icons i {
    height: .5rem;
    padding-top: 10px;
}

header .icons a {
    font-size: 1rem;
    text-decoration: none;
    padding-right: 1.7rem;
    color: #ffffff;
}

header .icons a:hover {
    font-weight: bolder;
    color: #b0e0e6;
}

header .logo {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    background: linear-gradient(to top, rgba(123, 198, 204, 0.4), rgba(255, 255, 255, 1));
}

header .logo .image img {
    height: 8rem;
    width: 8rem;
}

header .logo .text {
    text-align: center;
}

header .logo .text .eng {
    font-size: 1.8rem;
    color: #094dc1;
}

header .logo .text .hindi {
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0583d5;
}

header .logo .text .multi,
header .logo .text .multi .multitext {
    color: #484c51;
    font-size: 1.2rem;
}

.navbar {
    background-color: #252525;
    color: white;
}

.navbar-brand img {
    height: 0;
}

.dropdown ul {
    background-color: #212529;
}

.dropdown ul .dropdown-item {
    color: #ffffff;
}

.dropdown ul .dropdown-item:hover {
    color: #212529;
}

/* Login Popup*/
.loginPopup h2 {
    color: #4054B2;
    padding: 15px;
    text-align: center;
    font-size: 19px;
  }

  .loginPopup .modal-dialog img {
    width: 120px;
    left: 50%;
    top: 20%;
    transform: translate(110%, 5%);

  }
  .modal-header{
    top:23px;
    padding-top: 2rem;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    top: 300%;
  }
  .modal-content {
    border: 5px solid #4054B2;
    position: relative;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: 480px;
    background-color: #fff;
    /* pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem; */
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    z-index: 9;
}



/* Media Queries */
@media (max-width: 991px) {

    .logo .image {
        display: none;
    }


    .logo .text {
        justify-content: center;
    }

    .navbar-brand img {
        height: 2rem;
    }

}

@media (max-width: 870px) {

    .icons .franchise,
    .icons .pay {
        display: none;
    }

}


/*  Body CSS */


:root {
    --primary: #6bbee1;
    --secondary: #FAF3EB;
    --light: #FFFFFF;
    --dark: #2B2825;
}

.font-secondary {
    font-family: 'Pacifico', cursive;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

.border-inner {
    position: relative;
}

.border-inner * {
    position: relative;
    z-index: 1;
}

.border-inner::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: none;
    border: 1px solid var(--light);
    z-index: 0;
}

.btn-square {
    width: 40px;
    height: 40px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 50px;
    height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}


@media (max-width: 991.98px) {
     .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.hero-header {
    background: url(../img/hero.jpg) top right no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid var(--primary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 10px;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 180px;
    height: 2px;
    left: 50%;
    bottom: 4px;
    margin-left: -90px;
    background: var(--primary);
}

.service::after,
.contact::after {
    position: absolute;
    content: "";
    width: 100%;
    height: calc(100% - 45px);
    top: 135px;
    left: 0;
    background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url(../img/service.jpg) center center no-repeat;
    background-size: cover;
    z-index: -1;
}

.contact::after {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.bg-offer {
    background: linear-gradient(rgba(43, 40, 37, .9), rgba(43, 40, 37, .9)), url(../img/offer.jpg) center center no-repeat;
    background-size: cover;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
    filter: blur(5px)
}

.team-item .team-overlay {
    transition: .5s;
    opacity: 0;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.testimonial-carousel .owl-dots {
    height: 45px;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 25px;
    background: #DDDDDD;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    height: 45px;
    background: var(--primary);
}

.testimonial-carousel .owl-item .testimonial-item {
    opacity: .1;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    opacity: 1;
}

.bg-img {
    background: linear-gradient(rgba(43, 40, 37, .5), rgba(43, 40, 37, .5)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

#about-section {
    font-size: 35px;
}

.inline-list li {
    display: flex;
    align-items: center;
    /* Align the child elements vertically */
    margin-bottom: 20px;
    /* Add some space between the list items */
}

.inline-list li i {
    font-size: 24px;
    /* Increase the font size of the icon */
    flex-shrink: 0;
    /* Prevent the icon from shrinking */
    margin-right: 10px;
    /* Add some space between the icon and text */
}

/* Footer */
.slide {
    display: grid;

    position: relative;
    display: grid;
    place-items: center;
    height: 200px;
    margin: auto;
    width: 90%;
    overflow: hidden;
    background-color: #f3f7f9;
    border-radius: 10px;
    text-align: start;
    cursor: pointer;



}

.slide .slider {
    display: flex;
    height: 100%;
    width: calc(250px * 18);
    animation: scroll 45s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(calc(-250px*9));
    }
}

.slide-img {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide .slider .slide-img img {
    width: 100%;
    height: 100%;
    transform: transform 1s;
    box-shadow: #4E4E4E;
    border-radius: 50%;


}

.slide .slider .slide-img img:hover {
    transform: translateZ(20px);
}




.HELP{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.need-help{
    background-color: #05155d;
    color: white;
    font-weight: bold;
    height: 80px;
    padding-top: 10px;
    background-image: linear-gradient(to right,#05155d ,#05155d ,rgb(23, 191, 241));
    border-bottom: rgba(255, 255, 0, 0.705) solid;
}

.need-help button{
    display: inline-block;
    position: relative;
    box-shadow: none;
    text-decoration: none;
    font-size: 30px;
    outline: none;
    color: #0bdd1d;
    background: transparent;
    border: none;
    margin-right: 30px;
    margin-left: 30px;
}
.need-help button span{
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.need-help button::after{
    content: attr(data-text);-webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}
.need-help button:before,
.need-help button:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    -webkit-transition: .2s,opacity .4s;
    -moz-transition: .2s,opacity .4s;
    -o-transition: .2s,opacity .4s;
    transition: .2s,opacity .4s;
}

/* :before */

.need-help button:before {
    content: attr(data-text);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

/* Span on :hover and :active */

.need-help button:hover span,
.need-help button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.need-help button:hover:before,
.need-help button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

/* 
  We hide :before pseudo-element on :active
*/

.need-help button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.first-half{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.second-half{
    text-align: left;
    margin: 10px;
    margin-bottom: 10px;
}
#myCarousel {
    margin-top: 20px; /* adjust the value as needed */
    height: 40%;
  }


/*
*/
.elementor-divider{
    display: flex; 
    align-items: center;
    padding: 0.5rem 0rem;
    color: rgb(36, 32, 224);
    background-image: linear-gradient(to right,black,black);
}

/*** Footer ***/

.footer {
    position:inherit;
    margin-top: 3rem;
    background-color: #05155d;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color:#00A0C6; 
    text-decoration:none;  
}
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
        -ms-transform: translateX(-50%) scaleY(1) scaleX(1.25);
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
        -ms-transform: translateX(-50%) scaleY(1) scaleX(1.45);
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        -ms-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
