body {
  font-family: 'Athiti';
  font-size: 22px;
}

.h2 {
  text-align: center;

}

.banner-card {
  position: relative;
}

.banner-card img {
  width: 100%;
  height: 186px;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 2%;
  color: white;
  padding: 20px;
}

.banner-text h4 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}


@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


/* legal */


.llp {
  width: 50%;
  float: left;
  padding-left: 8%;
}

.llp li {
  padding: 5px;
  text-decoration: none;

}

.llp span {
  padding-left: 15px;
}

.llp i {
  font-size: 25px;
}

.h2 {
  text-align: center;
  padding-left: 10%;

}

.banner-card {
  position: relative;
}

.banner-card img {
  width: 100%;
  height: 186px;
}

.banner-text {
  position: absolute;
  top: 2%;
  color: #089fc4;
  padding: 20px;
  left: 40%;
  text-align: center;
}

.banner-text h4 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;

  margin-bottom: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}


@media(max-width:767px) {
  html {
    font-size: 14px;
  }