


.HELP{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.need-help{
    background-color: #05155d;
    color: white;
    font-weight: bold;
    height: 80px;
    padding-top: 10px;
    background-image: linear-gradient(to right,#05155d ,#05155d ,rgb(23, 191, 241));
    border-bottom: rgba(255, 255, 0, 0.705) solid;
}
.need-help button{
    display: inline-block;
    position: relative;
    box-shadow: none;
    text-decoration: none;
    font-size: 30px;
    outline: none;
    color: #0bdd1d;
    background: transparent;
    border: none;
}
.need-help button span{
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.need-help button::after{
    content: attr(data-text);-webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}
.need-help button:before,
.need-help button:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    -webkit-transition: .2s,opacity .4s;
    -moz-transition: .2s,opacity .4s;
    -o-transition: .2s,opacity .4s;
    transition: .2s,opacity .4s;
}

/* :before */

.need-help button:before {
    content: attr(data-text);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

/* Span on :hover and :active */

.need-help button:hover span,
.need-help button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.need-help button:hover:before,
.need-help button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

/* 
  We hide :before pseudo-element on :active
*/

.need-help button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.first-half{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.second-half{
    text-align: left;
    margin: 10px;
    margin-bottom: 10px;
}


/*
*/
.elementor-divider{
    display: flex; 
    align-items: center;
    padding: 0.5rem 0rem;
    color: rgb(36, 32, 224);
    background-image: linear-gradient(to right,black,black);
}

/*** Footer ***/

.footer {
    position:inherit;
    margin-top: 3rem;
    background-color: #05155d;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover {
    color:#00A0C6; 
    text-decoration:none;  
}
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* .footer{
    box-sizing: border-box;
    position: relative;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0E91C9 0%, #EFF3FF 100%);
}


.elementor-icon-list-items{
    font-size: 18px;
    line-height: 30.6px;
    text-align: left;
    letter-spacing: normal;
    margin: 4px 5px 50px 50px;
    list-style:  none;
}
.elementor-icon-list-icon{
    margin-right: 10px;
}
 .elementor-icon-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0
}

 .elementor-icon-list-item {
    margin: 0;
    padding: 0;
    position: relative
} */
